.projects-container {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  display: flex;
}

.project-box {
  width: 20%;
  height: 200px;
  padding: 20px;
  margin: 10px;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
  box-shadow: 0 0 0.25rem 0.25rem rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
}

.project {
  position: relative;
  margin: 10px;
}

.project h3 {
  margin-bottom: 10px;
  color: #cd853f;
}

.project p {
  margin-bottom: 15px;
  font-size: clamp(10px, 2vw, 12px);
}

.project a {
  color: #007bff; /* Adjust link color as needed */
  text-decoration: none;
  bottom: 0;
}

.project a:hover {
  text-decoration: underline;
}

.project-title {
  font-size: 24px;
}

.project-description {
  font-size: 18px;
}

.github-link {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .project p {
    display: none;
  }
  .project h3,
  a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .project h3 {
    font-size: 10px; /* Further adjust font size for project titles on smaller screens */
  }

  .project a {
    font-size: 10px; /* Further adjust font size for GitHub links on smaller screens */
  }
}
