.badge:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.credly-badge-container {
  position: relative;
  justify-content: center;
  display: flex;
  padding: 20px;
  width: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 1015px) {
  .credly-badge-container {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .credly-badge-container {
    display: none; /* Hide project descriptions and GitHub links on smaller screens */
  }
  .credly-badge {
    width: 100%;
    max-width: none;
  }
}
