.badge:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.credly-badge-container {
  position: relative;
  display: flex;
  padding: 20px;
  width: auto;
}

@media screen and (max-width: 1015px) {
  .credly-badge-container {
    flex-direction: column;
  }
}

.credly-badge {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .credly-badge-container {
    display: none; /* Hide project descriptions and GitHub links on smaller screens */
  }
}
