.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 20px;
}

.projects-main {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badges-container {
  display: flex;
  justify-content: space-around;
}

h1#current-studies {
  color: #cd853f;
  margin-top: 2rem;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}

.credly-badge {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .credly-badge {
    width: 100%;
    max-width: none;
    flex: 1 0 48%;
  }
  .projects-main {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  h1#current-studies {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    max-width: 300px; /* Adjust the maximum width for each project on smaller screens */
    margin: 10px; /* Adjust margin for spacing between projects */
  }

  .project-description {
    display: none; /* Hide project descriptions on smaller screens */
  }
}
