.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.projects-main {
  align-items: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.badges-container {
  display: flex;
  justify-content: space-around;
}

#current-studies {
  color: #cd853f;
  margin-top: 2rem;
  padding: 20px;
  text-align: center;
}

.divider {
  width: 125%;
  height: 0.15rem;
  background: #cd853f;
  margin: 1rem 0;
}
