/* Resume.css */

.resume-container {
  font-family: "Arial", sans-serif;
  background-color: #f0ece2;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #6878a0;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.experience {
  border-top: 2px solid #6878a0;
  padding-top: 20px;
}

.education {
  margin-top: 20px;
}
