.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.page-title {
  margin-top: 10px;
  color: #cd853f;
}

.resume {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: #f8f9f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  margin-top: 100px;
  z-index: 1;
}

.background-photo {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  filter: grayscale(50%);
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.resume-about {
  background-color: #bfccbb; /* Light grey background color for sections */
  padding: 10px; /* Padding for content inside sections */
  margin-bottom: 20px; /* Add margin to separate sections */
  border-radius: 10px;
  color: #2c446f;
}

.resume-title {
  background-color: #bfccbb;
  color: #2c446f;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.about-title {
  background-color: #bfccbb;
  color: #2c446f;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
  flex-direction: column;
}

.social-icons a {
  color: #2c446f;
  margin: 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.section-certifications {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sections-container {
  display: flex;
}

.left-sections {
  width: 48%;
}

.section {
  background-color: #bfccbb; /* Light grey background color for sections */
  padding: 10px; /* Padding for content inside sections */
  margin-bottom: 10px; /* Add margin to separate sections */
  border-radius: 10px;
}
.section-title {
  color: #2c446f;
}

.right-section {
  width: 52%;
  background-color: #bfccbb; /* Light grey background color for the right section */
  padding: 10px; /* Padding for content inside the right section */
  margin-bottom: 10px; /* Add margin to separate from other sections */
  margin-left: 20px; /* Add margin to create space between left and right sections */
  border-radius: 10px;
  color: #fff;
}

.resume-about {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.certifications-list {
  list-style-type: none; /* Remove default list styles (bullet points) */
  padding: 0; /* Remove default padding */
  text-align: left; /* Align the list items to the left */
  color: #2c446f;
}

.education-list {
  list-style-type: none; /* Remove default list styles (bullet points) */
  padding: 0; /* Remove default padding */
  text-align: left; /* Align the list items to the left */
  color: #2c446f;
}

.experience-list {
  list-style-type: none; /* Remove default list styles (bullet points) */
  padding: 0; /* Remove default padding */
  text-align: left; /* Align the list items to the left */
  color: #2c446f;
}

.projects-list {
  list-style-type: none; /* Remove default list styles (bullet points) */
  padding: 0; /* Remove default padding */
  text-align: left; /* Align the list items to the left */
  color: #2c446f;
}

.list-item-description {
  margin-left: 20px;
  list-style-type: disc;
  font-size: 14px;
}

a {
  color: #2c446f;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}
