#intro {
  display: flex;
  height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.intro-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
}

.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.introContent {
  height: 90vh;
  min-width: 500px;
  width: 25vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 34px;
}

.hello {
  font-weight: 100;
}

.introName {
  color: #cd853f;
  font-size: 36px;
  font-weight: 100;
}

.introText {
  font-size: 32px;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

@media screen and (max-width: 840px) {
  .bg {
    display: 100vw;
  }
  .introContent {
    font-size: 5vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}

@media (max-width: 768px) {
  #hello {
    font-size: 20px;
  }

  .introText {
    font-size: 24px;
  }

  .introPara {
    font-size: 16px;
  }
}
